/* Header part */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #F6BE9A;
  justify-content: space-between;

}

.flex-container > div {
  /* line-height: 75px; */
  /* font-size: 30px; */
  padding: 30px;
}

header {
  font-size: 40px;
  color: black;

}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-radius: 8px;
    /* object-fit: contain; */
}

i.fab, i.fas {
  color: #493843;

}

/* Content parts */

section {
  display: -webkit-flex;
  display: flex;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #FAF4D3;
  padding: 30px;
  padding-top:0;
  justify-content: center;
}



/* Whole page content */

body {background-color: #004643;}

.content {
  max-width: 1024px;
  margin: auto;
  font-size: 20px;
  color: #0C1618;
}

a {
  color:#493843;
}
