header {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: black;

}

section {
  display: -webkit-flex;
  display: flex;

}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  width: 60%;
  justify-content: center;
}
